@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: black;
  font-weight: 400;
}

p {
  font-weight: 200;
}

h1, .bold-text {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.description {
  font-weight: 300;
}

.important-word {
  color: #3F00FF;
  font-weight: 600;
}

.hero {
  color: white;
}

.hero-img {
  object-fit: contain;
}

.dropdown-menu {
  position: relative;
  z-index: 999;
  overflow: hidden;
  margin-top: 15px;
  width: calc(175px + 5vw);
  background-color: #FFF;
  backdrop-filter: blur(15px);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown-menu li.menu-item {
  text-align: right;
  padding: 15px 30px 15px 0;
}

.dropdown-menu li.menu-item:hover {
  background-color: #F5F2FF;
  color: #3F00FF;
}

.active-menu-item {
  background-color: #F5F2FF;
  color: #3F00FF;
}

ul.work-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: 64px 0;
}

ul.work-list li.work-item {
  flex: 0 0 45%;
  border: 6px solid #000;
  border-radius: 20px;
  box-shadow: rgba(63, 0, 255, 0.4) 0px 5px,
              rgba(63, 0, 255, 0.3) 0px 10px, 
              rgba(63, 0, 255, 0.2) 0px 15px, 
              rgba(63, 0, 255, 0.1) 0px 20px, 
              rgba(63, 0, 255, 0.05) 0px 25px;
  padding: 3%;
  margin: auto 0;
}

ul.work-list li.work-item:nth-of-type(3),
ul.work-list li.work-item:nth-of-type(4) {
  margin-top: 48px;
}

ul.work-list li.work-item .work-pic {
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
}

ul.work-list li.work-item h1.work-header {
  margin-top: 12px;
  font-size: 2.05vw;
}

ul.work-list li.work-item h2.work-subheader {
  margin-top: 12px;
  font-size: 1.3vw;
  font-weight: 500;
  color: #3F00FF;
}

ul.work-list li.work-item p.work-description {
  margin-top: 12px;
  font-size: 1.1vw;
  font-weight: 300;
}

@media only screen and (max-width: 1023px) {
  ul.work-list {
    justify-content: center;
  }

  ul.work-list li.work-item {
    flex: 0 0 62%;
  }

  ul.work-list li.work-item h1.work-header {
    font-size: 3.5vw;
  }

  ul.work-list li.work-item h2.work-subheader {
    font-size: 2.2195vw;
  }

  ul.work-list li.work-item p.work-description {
    font-size: 1.6vw;
  }

  ul.work-list li.work-item:nth-of-type(2){
    margin-top: 48px;
  }
}

@media only screen and (max-width: 767px) {
  ul.work-list li.work-item {
    flex: 0 0 80%;
  }

  ul.work-list li.work-item h1.work-header {
    font-size: 4.5161vw;
  }

  ul.work-list li.work-item h2.work-subheader {
    font-size: 2.86387vw;
  }

  ul.work-list li.work-item p.work-description {
    font-size: 2.064516vw;
  }
}

@media only screen and (max-width: 639px) {
  ul.work-list li.work-item {
    flex: 0 0 100%;
  }

  ul.work-list li.work-item h1.work-header {
    font-size: 5.645125vw;
  }

  ul.work-list li.work-item h2.work-subheader {
    font-size: 3.5798375vw;
  }

  ul.work-list li.work-item p.work-description {
    font-size: 2.580645vw;
  }
}

mark.text-highlight {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.4em;
  background: #3F00FF;
}

canvas#anim-particle {
  position: absolute;
  padding-top: 5%;
  z-index: -1;
  filter: blur(1px);
}

.button {
  background-color: #3F00FF;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 20px;
  min-height: 70px;
  min-width: 170px;
  font-weight: 500;
  font-size: large;
  opacity: 1;
}

.button::after {
  content:'';
  position: absolute;
  display: none;
  width: 46.5px;
  height: 46.5px;
  background-color: #3F00FF;
  border-radius: 50%;
  margin-bottom: 50px;
  bottom: 94px;
  right: 380px;
}

.button:hover{
  background-color: #2900A6;
  transition: 0.7s;
}

.icon {
  margin-top: 0.2rem;
  padding-left: 0.7rem;
}

hr {
  width: 13.5%;
  border-bottom: 5px solid #3F00FF;
  border-radius: 3px;
}

.small-screen-navbar div {
  height: 5px;
  background-color: #3F00FF;
  margin: 5px 0 5px auto;
  border-radius: 25px;
  transition: 0.5s;
}

.small-screen-navbar {
  width: 30px;
}

.small-screen-navbar:hover div {
  width: 30px;
}

.two {
  width: 15px;
}

.nav-link {
  display: inline-block;
  position: relative;
}

.hover-underline {
  content: "";
  position: absolute;
  height: 2px;
  background-color: transparent;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: width 0.2s, background-color 0.5s;
}

.active-link .hover-underline {
  width: 100%;
  background-color: #3F00FF;
}

.nav-link:hover .hover-underline {
  background-color: #3F00FF;
  width: 100%;
}

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-success {
  width: clamp(25%, 325px, 90%);
  height: min(50%, 400px);
  border-radius: 12px;
  border-top: 12px solid #00DDB3;
  background-color: #FFF;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-button {
  border: 2px solid #00DDB3;
  border-radius: 5px;
  padding: 5px 20%;
  color: #00DDB3;
  text-transform: uppercase;
  font-weight: 500;
}

.popup-button:hover {
  box-shadow: inset 15em 0 0 0 #00DDB3;
  color: #FFF;
  transition: 0.25s ease-in-out;
}

.rocket {
  position: relative;
  animation: wiggle 0.2s ease infinite;
}

.star {
  position: absolute;
  background: #00DDB3;
  width: 5px;
  border-radius: 10px;
  transform: translateY(-50px);
  animation: animateStar linear infinite;
}

@keyframes wiggle {
  0%, 100%{
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(2px);
  }
}

@keyframes animateStar {
  0% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(-150px);
    opacity: 0;
  }
}